# Pykg2tbl to query rdf files

In [1]:
from pykg2tbl import DefaultSparqlBuilder, KGSource

# The rdf file representing from the Eurobis ERDDAP
dcat_source = "http://erddap.eurobis.org/catalog/dcat"
# Create a Knowledge Table
source_KG2tbl = KGSource.build(dcat_source)

In [2]:
# Simple query to get the datasets in the SERVER, each title and last modified date.

query ="""
PREFIX dcat: <http://www.w3.org/ns/dcat#>
PREFIX dcterms: <http://purl.org/dc/terms/>
SELECT ?dataset ?title ?modified
WHERE {
  ?dataset a dcat:Dataset ;
           dcterms:title ?title ;
           dcterms:modified ?modified .
}
"""

In [3]:
result = source_KG2tbl.query(query)

In [4]:
result.to_dataframe()

,dataset,title,modified
0,http://erddap.eurobis.org/erddap/tabledap/24hr...,Zooplankton abundance for six 24hrs sampling s...,2021-02-04T00:00:00
1,http://erddap.eurobis.org/erddap/tabledap/ArcOD,Alaska Ocean Observing System,2021-02-06T00:00:00
2,http://erddap.eurobis.org/erddap/tabledap/Asso...,Cetacean sightings along the central Catalan c...,2021-02-04T00:00:00
3,http://erddap.eurobis.org/erddap/tabledap/Belm...,Mesozooplankton - Crustacea from the South Adr...,2021-02-07T00:00:00
4,http://erddap.eurobis.org/erddap/tabledap/Belm...,Microzooplankton - Crustacea from the South Ad...,2021-02-07T00:00:00
...,...,...,...
762,http://erddap.eurobis.org/erddap/tabledap/zoop...,Zooplankton collected in the Mediterranean Sea...,2021-02-04T00:00:00
763,http://erddap.eurobis.org/erddap/tabledap/zoop...,Zooplankton respiration data from Fort Jesus a...,2021-02-04T00:00:00
764,http://erddap.eurobis.org/erddap/tabledap/zoop...,Zooplankton community in Gazi Creek sampled mo...,2021-02-04T00:00:00
765,http://erddap.eurobis.org/erddap/tabledap/zoop...,Seasonal variation of the zooplankton communit...,2021-02-04T00:00:00
766,http://erddap.eurobis.org/erddap/tabledap/zoop...,Zooplankton community of Shirazi bay (Kenya) s...,2021-02-04T00:00:00